.gan5 {
	width: 100%;
	text-align: center;
	padding-right: 64px;
	padding-top: 300px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 77px;

	color: #FFFFFF;
}
